{name, "sgte"}.
{description, "A simple Erlang Template Engine"}.
{homepage, "https://github.com/filippo/sgte"}.
{url, {git, "https://github.com/filippo/sgte.git", {branch, "master"}}}.
{authors, ["Filippo Pacini <filippo.pacini@gmail.com>"]}.
{rebar_compatible, true}.
{install_command, "$AGNER_PACKAGE_REPO/install.sh"}.
